/* .details{
    width: 50vw;
    height:100vh;

    position: absolute;
    background-color: #111;
} */

.btn{
    width: 100px;
    height: 30px;
    font-size: 15px;
}

.detailH2{
    font-size: 20px;
}