.nav{
    position: relative;
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px 20px;
    border-radius: 10px;
    overflow: hidden;
    cursor:pointer;
    transition: background-color .2s ease; 
    text-decoration: none;
}
.nav:hover{
    background-color: rgba(240, 248, 255, 0.383);
}


h2{
    font-size: 15px;
    font-family: raleway;
    font-weight: 500;
}
.icon{
    font-size: 20px;
}

.navigation.active h2{
    display: none;
}