.platform{
    position: relative;
    display: grip;
    grid-template-columns: repeat(4, 24%);
    grid-gap:10px;
    padding: 10px;
    
}
.platform .row{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg, rgb(64, 54, 244), rgb(240, 182, 36));
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease;
    
}

.platform .row:hover{
    scale: 0.99;
}

.platform .row.header{
    height: 150px;
    width: 500px;
}

.img{
    width: 150px;
    height: 160px;
    position: relative;
    overflow: hidden;
}