

.buttonDetails{
    background-color: #FBCA1F;
    color: black;
    font-size: 13px;
    font-weight: 600;
    padding: 4px 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
    border: 1px solid black;
}

.buttonDetails:hover {
    transform: translateY(-1px) translateX(-2px);
    box-shadow: 2px 2px 0 0 black;
  } 

  .carta{
    margin-top: 50px;
    height: 300px;
    width: 400px;
    background-color: rgba(82, 31, 74, 0.124);
    z-index: 0;
    align-items: center;
    justify-content: center;
    color: rgb(255, 255, 255);
    font-size: 40px;
    text-align: center;
    background: linear-gradient(40deg, rgb(119, 19, 87), rgb(240, 182, 36));
    border-radius: 15px;
}


.img{
    height: 180px;
    width: 300px;
    
}
.carta .carta-show:hover{
    scale: 0.99;
}