
.container{
    
    background-color: rgba(215, 218, 221, 0);
    height: 80vh;
    width: 80vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-gap: 15px;
    position: relative;
    padding: 20px;
    z-index: 0;
    overflow-y: scroll;
}


.title{
    font-size: 3rem;
    color: rgb(226, 198, 43);
    text-align: center;
}

.pagination-platform{
    display: flex;
    justify-content: space-between;
    justify-content: center;
    margin-top: 10px;
}

.pagination-platform button {
    padding: 5px 10px;
    background-color: #f1f1f1;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 10px;

  }
  
  .pagination-platform button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }