.main{
    position: relative;
    display: flex;
    flex-direction: column;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 15px;
    flex: 1;
    background-color: #111;
   
    --dm-bg:#111;
   
    margin-top: 25px;
}


.main-show{
    display:flexbox;
    flex-direction: row;
    margin-left: 8vw; 
   
    
}
.main-show .header-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(40deg, rgb(64, 54, 244), rgb(240, 182, 36));
    padding: 10px;
    border-radius: 10px;
    transition: 0.2s ease;
}

.main-show .header-main:hover{
    scale: 0.99;
}

.main-show .header-main{
    height: 150px;
    width: 500px;
    
}
